.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: red;
  background: #fcfcfc;
  padding: 15px 50px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-item {
  position: relative;
}

.nav .nav__list-item .nav__bedge {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  top: -11px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
